{
	"tabWidth": 4,
	"useTabs": true,
	"semi": false,
	"singleQuote": true,
	"jsxSingleQuote": false,
	"printWidth": 80,
	"importOrder": ["^components/(.*)$", "^[./]"],
	"importOrderSeparation": true,
	"importOrderSortSpecifiers": true
}
