@use '../../scss/config/' as *;

.input-email {
	display: flex;
	flex-direction: column;
	gap: convertPxToREM(6);

	&__label {
		color: var(--text-secondary);
		font-size: $font-size-sm;
		font-weight: 500;
		line-height: $line-height-sm;

		&-required {
			color: var(--text-brand-primary);
		}
	}

	&__field-container {
		position: relative;
		display: flex;
		align-items: center;
	}

	&__icon {
		position: absolute;
		left: convertPxToREM(12);
		width: convertPxToREM(24);
		height: convertPxToREM(24);

		path {
			stroke: var(--fg-tertiary);
		}
	}

	&__field {
		height: convertPxToREM(40);
		padding: $spacing-md convertPxToREM(40) $spacing-md convertPxToREM(44);
		border: convertPxToREM(1) solid var(--border-primary);
		border-radius: $radius-md;
		color: var(--text-primary);
		font-size: $font-size-md;
		font-weight: 400;
		line-height: $line-height-md;
		box-shadow: 0 convertPxToREM(1) convertPxToREM(2) 0 var(--shadow-xs);
		background-color: var(--bg-primary);

		&::placeholder {
			color: var(--text-placeholder);
			font-size: $font-size-md;
			font-weight: 400;
			line-height: $line-height-md;
		}
	}

	&__hint {
		color: var(--text-tertiary);
		font-size: $font-size-sm;
		font-weight: 400;
		line-height: $line-height-sm;
	}

	&__big {
		.input-email {
			&__label {
				font-size: $font-size-md;
				line-height: $font-size-md;
			}

			&__field {
				height: convertPxToREM(52);
				padding: $spacing-lg convertPxToREM(44) $spacing-lg
					convertPxToREM(48);
			}

			&__icon {
				width: convertPxToREM(28);
				height: convertPxToREM(28);
			}
		}
	}

	&__is-successful {
		.input-email {
			&__field {
				border: convertPxToREM(2) solid var(--border-brand);
			}
		}
	}

	&__has-error {
		.input-email {
			&__field {
				border: convertPxToREM(1) solid var(--border-error);
			}

			&__hint {
				color: var(--text-error-primary);
			}
		}
	}

	&__is-disabled {
		.input-email {
			&__field {
				background-color: var(--bg-disabled);
				border: convertPxToREM(1) solid var(--border-disabled);

				&::placeholder {
					color: var(--text-disabled);
				}
			}

			&__icon {
				path {
					stroke: var(--fg-quinary);
				}
			}
		}
	}
}
