@font-face {
	font-family: Inter;
	font-style: normal;
	font-weight: 400;
	src: url('/src/assets/fonts/Inter_24pt-Regular.ttf') format('truetype');
}

@font-face {
	font-family: Inter;
	font-style: normal;
	font-weight: 500;
	src: url('/src/assets/fonts/Inter_24pt-Medium.ttf') format('truetype');
}
